*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-light: bisque;
    --clr-red: rgb(158, 44, 15);
    --clr-btn: rgb(216, 167, 155);
    --clr-dark: rgb(240, 199, 158);
    --clr-border-img: rgb(192, 58, 24);
    --clr-btn-hover: rgb(219, 174, 166);
}

h3,
h4 {
    font-size: 1.5rem;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    font-family: 'Hind Madurai', sans-serif;
}

.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--clr-light);
}

.title {
    font-size: 2.3em;
    padding-top: 3rem;
    color: var(--clr-red);
}

.header {
    height: 10rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:space-around;
    background-color: var(--clr-dark);
}

.button-container {
    width: 50%;
    display: flex;
    max-width: 750px;
    padding-bottom: .2em;
    /*background-color: aqua; */
    justify-content: space-evenly;
}

.button-container > .button {
    border: none;
    cursor: pointer;
    font-weight: 900;
    padding: .2em 1em;
    border-radius: 10px;
    color: var(--clr-red);
    text-transform: capitalize;
    background-color: var(--clr-btn);
}

.button-container > .button:hover {
    background-color: var(--clr-btn-hover);
}

.menu-container {
    width:100%;
    display: grid;
    margin: 0 auto;
    max-width: 750px;
    padding-top: 4rem;
    /*background-color: aquamarine;*/
    padding-left: .2rem;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
}

.menu {
    /* background-color: blueviolet; */
    width: 15rem;
    display: flex;
    margin-top: -3rem;
    text-align: center;
    height: max-content; 
    flex-direction: column;
}

img {
    width: 100%;
    object-fit:none;
    border-radius: 15px;
    border: .3em solid var(--clr-border-img);
}

.footer-container {
    height: 10rem;
    display: grid;
    background-color: var(--clr-dark);
}

.footer {
    /* background-color: rgb(156, 156, 199); */
    width: 70%;
    margin: auto;
    display: flex;
    max-width: 750px;
    line-height: 1.8em;
    align-items: center;
    /* color: white; */
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 768px) {

    .menu-container {
        max-width: 500px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px) {

    .menu-container {
        display: flex;
        align-items: center;
        flex-direction: column;

    }
}

@media screen and (max-width: 414px) {

    .menu-container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}



