*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.5rem;
}

body {
    font-family: 'Hind Madurai', sans-serif;
    min-height: 100vh;
    min-width: 100vw;
}

.title {
    padding-top: 3rem;
    font-size: 2.3em;
    color: rgb(158, 44, 15);
}

.header {
    background-color: bisque;
    height: 10rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:space-around;
}

.nav-bar {
    max-width: 750px;
    width: 70%;
    /* background-color: aqua; */
}

.nav-bar > ul {
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    color:rgb(131, 30, 5)
}

.nav-bar li {
    list-style: none;
    font-size: 1.2em;
}

.nav-bar li a:hover {
    border-bottom: 2px solid rgb(221, 13, 13);
    cursor: pointer;
}

.menu-container {
    width:100%;
    max-width: 750px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    padding-top: 4rem;
    /* background-color: aquamarine; */
    padding-left: .2rem;
}

.menu {
    /* background-color: blueviolet; */
    width: 15rem;
    text-align: center;
    height: max-content; 
    display: flex;
    flex-direction: column;
    margin-top: -3rem;
}

img {
    width: 100%;
    
    border: .3em solid rgb(192, 58, 24);
}

.footer-container {
    background-color: bisque;
    height: 10rem;
    display: grid;
}

.footer {
    /* background-color: rgb(156, 156, 199); */
    max-width: 750px;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* color: white; */
    justify-content: center;
    line-height: 1.8em;
}

@media screen and (max-width: 768px) {

    .menu-container {
        grid-template-columns: repeat(2, 1fr);
        max-width: 500px;
    }
}


@media screen and (max-width: 500px) {

    .menu-container {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
}

@media screen and (max-width: 414px) {

    .menu-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}



